USE [master]
GO
/****** Object:  Database [pbms_db]    Script Date: 23/06/2026 11:04:44 SA ******/
CREATE DATABASE [pbms_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pbms_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pbms_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pbms_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pbms_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pbms_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pbms_db]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[actor_id] [bigint] NULL,
	[action_type] [varchar](50) NOT NULL,
	[target_entity] [varchar](50) NOT NULL,
	[target_id] [bigint] NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[action] [varchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[ip_address] [varchar](50) NULL,
	[resource] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[building_profiles]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[building_profiles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[address] [varchar](500) NOT NULL,
	[hotline] [varchar](50) NULL,
	[operating_hours] [varchar](255) NULL,
	[rules] [varchar](max) NULL,
	[updated_at] [datetime] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fee_adjustments]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fee_adjustments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parking_session_id] [bigint] NULL,
	[approved_by_staff_id] [bigint] NULL,
	[adjustment_amount] [decimal](18, 2) NOT NULL,
	[reason] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[floors]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[floors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[building_id] [bigint] NULL,
	[floor_name] [varchar](100) NOT NULL,
	[floor_level] [int] NOT NULL,
	[capacity] [int] NOT NULL,
	[floor_type] [varchar](50) NULL,
	[map_cols] [int] NULL,
	[map_rows] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flyway_schema_history]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flyway_schema_history](
	[installed_rank] [int] NOT NULL,
	[version] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[type] [nvarchar](20) NOT NULL,
	[script] [nvarchar](1000) NOT NULL,
	[checksum] [int] NULL,
	[installed_by] [nvarchar](100) NOT NULL,
	[installed_on] [datetime] NOT NULL,
	[execution_time] [int] NOT NULL,
	[success] [bit] NOT NULL,
 CONSTRAINT [flyway_schema_history_pk] PRIMARY KEY CLUSTERED 
(
	[installed_rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gates]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gates](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[floor_id] [bigint] NULL,
	[gate_name] [varchar](100) NOT NULL,
	[gate_type] [varchar](50) NOT NULL,
	[live_override_mode] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[layout_x] [float] NULL,
	[layout_y] [float] NULL,
	[rotation] [int] NULL,
	[vehicle_type_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incident_tickets]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incident_tickets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[staff_id] [bigint] NULL,
	[session_id] [bigint] NULL,
	[issue_type] [varchar](50) NOT NULL,
	[priority] [varchar](50) NOT NULL,
	[description] [varchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[resolution_notes] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[resolved_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[uploaded_doc_url] [varchar](255) NULL,
	[expected_zone_id] [bigint] NULL,
	[actual_zone_id] [bigint] NULL,
	[incident_type] [varchar](50) NOT NULL,
	[assigned_staff_id] [bigint] NULL,
	[parking_session_id] [bigint] NULL,
	[reported_by_id] [bigint] NULL,
	[fine_amount] [numeric](38, 2) NULL,
	[uploaded_card_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monthly_tickets]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monthly_tickets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [bigint] NULL,
	[rfid_card_id] [bigint] NULL,
	[valid_from] [datetime] NOT NULL,
	[valid_until] [datetime] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[auto_renew] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[user_id] [bigint] NULL,
	[vehicle_type_id] [bigint] NULL,
	[plate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking_sessions]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_type_id] [bigint] NULL,
	[rfid_card_id] [bigint] NULL,
	[gate_in_id] [bigint] NULL,
	[gate_out_id] [bigint] NULL,
	[reservation_id] [bigint] NULL,
	[time_in] [datetime] NOT NULL,
	[time_out] [datetime] NULL,
	[pic_in_panorama] [varchar](max) NULL,
	[pic_out_panorama] [varchar](max) NULL,
	[pic_in_face] [varchar](max) NULL,
	[pic_out_face] [varchar](max) NULL,
	[global_base_fee] [decimal](18, 2) NULL,
	[penalty_fee] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
	[status] [varchar](50) NOT NULL,
	[slot_id] [bigint] NULL,
	[plate] [varchar](50) NULL,
	[plate_out] [varchar](50) NULL,
	[total_fee] [decimal](18, 2) NULL,
	[base_fee] [numeric](18, 2) NULL,
	[entry_image_url] [varchar](500) NULL,
	[entry_time] [datetime2](7) NULL,
	[exit_image_url] [varchar](500) NULL,
	[exit_time] [datetime2](7) NULL,
	[lpr_image_in] [varchar](500) NULL,
	[lpr_image_out] [varchar](500) NULL,
	[entry_gate_id] [bigint] NULL,
	[exit_gate_id] [bigint] NULL,
	[suggested_zone_id] [bigint] NULL,
	[vehicle_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_orders]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[reservation_id] [bigint] NULL,
	[monthly_ticket_id] [bigint] NULL,
	[order_code] [varchar](100) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[payment_method] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_blocks]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_blocks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[shift_id] [bigint] NOT NULL,
	[block_order] [int] NOT NULL,
	[duration_mins] [int] NOT NULL,
	[fee] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_policies]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_policies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[policy_name] [varchar](255) NOT NULL,
	[global_base_mins] [int] NOT NULL,
	[global_base_fee] [decimal](18, 2) NOT NULL,
	[max_parking_cap] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[vehicle_type_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_shifts]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_shifts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[policy_id] [bigint] NOT NULL,
	[shift_name] [varchar](100) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[total_duration_mins] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refund_requests]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refund_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[reference_type] [varchar](50) NOT NULL,
	[reference_id] [varchar](50) NOT NULL,
	[paid_amount] [decimal](18, 2) NOT NULL,
	[penalty_fee] [decimal](18, 2) NOT NULL,
	[refund_amount] [decimal](18, 2) NOT NULL,
	[bank_name] [varchar](100) NULL,
	[account_number] [varchar](100) NULL,
	[account_name] [varchar](100) NULL,
	[status] [varchar](50) NOT NULL,
	[cancel_time] [datetime] NOT NULL,
	[reject_reason] [varchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[proof_url] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [bigint] NULL,
	[slot_id] [bigint] NULL,
	[expected_entry_time] [datetime] NOT NULL,
	[expected_duration_minutes] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[reservation_fee] [decimal](18, 2) NOT NULL,
	[qr_code] [varchar](255) NULL,
	[refund_status] [varchar](50) NULL,
	[refund_amount] [decimal](18, 2) NULL,
	[refunded_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[zone_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rfid_cards]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rfid_cards](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[card_code] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[assigned_plate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routing_rules]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routing_rules](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_id] [bigint] NULL,
	[rule_name] [varchar](255) NOT NULL,
	[fill_threshold_pct] [int] NOT NULL,
	[suggested_zone_id] [bigint] NULL,
	[is_active] [bit] NULL,
	[end_time] [time](7) NULL,
	[is_default] [bit] NULL,
	[start_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slots]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slots](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_id] [bigint] NULL,
	[slot_name] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[version] [int] NULL,
	[current_plate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_work_sessions]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_work_sessions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[staff_id] [bigint] NULL,
	[gate_id] [bigint] NULL,
	[login_time] [datetime] NOT NULL,
	[logout_time] [datetime] NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_configs]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_configs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[config_key] [varchar](255) NOT NULL,
	[config_value] [varchar](max) NULL,
	[description] [varchar](500) NULL,
	[updated_at] [datetime] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parking_session_id] [bigint] NULL,
	[monthly_ticket_id] [bigint] NULL,
	[payment_order_id] [bigint] NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[transaction_reference] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[password_hash] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[google_id] [varchar](100) NULL,
	[is_verified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_types]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](100) NOT NULL,
	[matrix_width] [int] NOT NULL,
	[matrix_height] [int] NOT NULL,
	[category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[vehicle_type_id] [bigint] NULL,
	[plate_number] [varchar](50) NOT NULL,
	[color] [varchar](50) NULL,
	[brand] [varchar](100) NULL,
	[status] [varchar](50) NULL,
	[blacklist_reason] [varchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[is_blacklisted] [bit] NOT NULL,
	[customer_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zone_hourly_trends]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zone_hourly_trends](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_id] [bigint] NULL,
	[time_window] [datetime] NOT NULL,
	[occupancy_pct] [decimal](5, 2) NOT NULL,
	[revenue_generated] [decimal](18, 2) NOT NULL,
	[entries_count] [int] NOT NULL,
	[exits_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zones]    Script Date: 23/06/2026 11:04:45 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zones](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[floor_id] [bigint] NULL,
	[vehicle_type_id] [bigint] NULL,
	[zone_name] [varchar](100) NOT NULL,
	[function_type] [varchar](50) NOT NULL,
	[layout_x] [float] NULL,
	[layout_y] [float] NULL,
	[rotation] [int] NULL,
	[overflow_threshold] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[building_profiles] ON 

INSERT [dbo].[building_profiles] ([id], [name], [address], [hotline], [operating_hours], [rules], [updated_at], [created_at]) VALUES (2, N'Bai Do Xe Thong Minh', N'Khu cong nghe cao, Quan 9, TP.HCM', N'0123456789', N'06:00 - 22:00', N'Tuan thu toc do 5km/h', CAST(N'2026-06-23T00:18:02.070' AS DateTime), CAST(N'2026-06-21T21:56:26.5100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[building_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[floors] ON 

INSERT [dbo].[floors] ([id], [building_id], [floor_name], [floor_level], [capacity], [floor_type], [map_cols], [map_rows]) VALUES (1, 2, N'fl', 1, 0, N'FOUR_WHEEL', 55, 40)
INSERT [dbo].[floors] ([id], [building_id], [floor_name], [floor_level], [capacity], [floor_type], [map_cols], [map_rows]) VALUES (2, 2, N'Xm', 1, 0, N'TWO_WHEEL', 60, 40)
SET IDENTITY_INSERT [dbo].[floors] OFF
GO
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (1, N'1', N'init 3nf schema', N'SQL', N'V1__init_3nf_schema.sql', 1067683726, N'sa', CAST(N'2026-06-21T11:12:21.173' AS DateTime), 35, 1)
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (2, N'4', N'add google id', N'SQL', N'V4__add_google_id.sql', -484895798, N'sa', CAST(N'2026-06-21T11:12:21.193' AS DateTime), 6, 1)
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (3, N'5', N'drop username column', N'SQL', N'V5__drop_username_column.sql', 849312137, N'sa', CAST(N'2026-06-21T11:35:52.773' AS DateTime), 81, 1)
GO
SET IDENTITY_INSERT [dbo].[gates] ON 

INSERT [dbo].[gates] ([id], [floor_id], [gate_name], [gate_type], [live_override_mode], [status], [layout_x], [layout_y], [rotation], [vehicle_type_id]) VALUES (1, 1, N'Gate01', N'OUT', N'NORMAL', N'IDLE', 150, 50, 0, NULL)
INSERT [dbo].[gates] ([id], [floor_id], [gate_name], [gate_type], [live_override_mode], [status], [layout_x], [layout_y], [rotation], [vehicle_type_id]) VALUES (2, 1, N'C?ng M?i', N'IN', N'NORMAL', N'IDLE', 450, 50, 0, NULL)
INSERT [dbo].[gates] ([id], [floor_id], [gate_name], [gate_type], [live_override_mode], [status], [layout_x], [layout_y], [rotation], [vehicle_type_id]) VALUES (3, 2, N'Gate A', N'IN', N'NORMAL', N'IDLE', 0, 0, 0, 3)
SET IDENTITY_INSERT [dbo].[gates] OFF
GO
SET IDENTITY_INSERT [dbo].[parking_sessions] ON 

SET IDENTITY_INSERT [dbo].[parking_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing_blocks] ON 

INSERT [dbo].[pricing_blocks] ([id], [shift_id], [block_order], [duration_mins], [fee]) VALUES (1, 1, 1, 960, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[pricing_blocks] ([id], [shift_id], [block_order], [duration_mins], [fee]) VALUES (2, 2, 1, 480, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[pricing_blocks] ([id], [shift_id], [block_order], [duration_mins], [fee]) VALUES (3, 3, 1, 5, CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[pricing_blocks] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing_policies] ON 

INSERT [dbo].[pricing_policies] ([id], [policy_name], [global_base_mins], [global_base_fee], [max_parking_cap], [status], [created_at], [updated_at], [vehicle_type_id]) VALUES (1, N'B?ng giá Ô tô 4 ch?', 0, CAST(0.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-06-21T23:20:43.147' AS DateTime), CAST(N'2026-06-21T23:20:43.147' AS DateTime), 1)
INSERT [dbo].[pricing_policies] ([id], [policy_name], [global_base_mins], [global_base_fee], [max_parking_cap], [status], [created_at], [updated_at], [vehicle_type_id]) VALUES (4, N'B?ng giá Xe máy tiêu chu?n', 60, CAST(5000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-06-22T15:06:49.630' AS DateTime), CAST(N'2026-06-22T15:06:49.630' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[pricing_policies] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing_shifts] ON 

INSERT [dbo].[pricing_shifts] ([id], [policy_id], [shift_name], [start_time], [end_time], [total_duration_mins]) VALUES (1, 1, N'Ca M?c Ð?nh', CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time), 960)
INSERT [dbo].[pricing_shifts] ([id], [policy_id], [shift_name], [start_time], [end_time], [total_duration_mins]) VALUES (2, 1, N'Ca M?i 2', CAST(N'22:00:00' AS Time), CAST(N'06:00:00' AS Time), 480)
INSERT [dbo].[pricing_shifts] ([id], [policy_id], [shift_name], [start_time], [end_time], [total_duration_mins]) VALUES (3, 4, N'Ca M?i 1', CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time), 960)
SET IDENTITY_INSERT [dbo].[pricing_shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[rfid_cards] ON 

INSERT [dbo].[rfid_cards] ([id], [card_code], [status], [assigned_plate]) VALUES (1, N'rf01', N'AVAILABLE', NULL)
INSERT [dbo].[rfid_cards] ([id], [card_code], [status], [assigned_plate]) VALUES (2, N'rf02', N'AVAILABLE', NULL)
INSERT [dbo].[rfid_cards] ([id], [card_code], [status], [assigned_plate]) VALUES (3, N'rf03', N'AVAILABLE', NULL)
SET IDENTITY_INSERT [dbo].[rfid_cards] OFF
GO
SET IDENTITY_INSERT [dbo].[routing_rules] ON 

INSERT [dbo].[routing_rules] ([id], [zone_id], [rule_name], [fill_threshold_pct], [suggested_zone_id], [is_active], [end_time], [is_default], [start_time]) VALUES (1, 1, N'Rule for Zone A', 5, 2, 1, NULL, 1, NULL)
INSERT [dbo].[routing_rules] ([id], [zone_id], [rule_name], [fill_threshold_pct], [suggested_zone_id], [is_active], [end_time], [is_default], [start_time]) VALUES (2, 2, N'Rule for Zone B', 90, 3, 1, NULL, 1, NULL)
INSERT [dbo].[routing_rules] ([id], [zone_id], [rule_name], [fill_threshold_pct], [suggested_zone_id], [is_active], [end_time], [is_default], [start_time]) VALUES (3, 3, N'Rule for Zone C', 90, NULL, 1, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[routing_rules] OFF
GO
SET IDENTITY_INSERT [dbo].[slots] ON 

INSERT [dbo].[slots] ([id], [zone_id], [slot_name], [status], [version], [current_plate]) VALUES (1, 1, N'N1', N'EMPTY', 2, NULL)
INSERT [dbo].[slots] ([id], [zone_id], [slot_name], [status], [version], [current_plate]) VALUES (2, 1, N'N2', N'EMPTY', 0, NULL)
INSERT [dbo].[slots] ([id], [zone_id], [slot_name], [status], [version], [current_plate]) VALUES (3, 1, N'N3', N'EMPTY', 0, NULL)
SET IDENTITY_INSERT [dbo].[slots] OFF
GO
SET IDENTITY_INSERT [dbo].[staff_work_sessions] ON 

INSERT [dbo].[staff_work_sessions] ([id], [staff_id], [gate_id], [login_time], [logout_time], [status]) VALUES (1, 9, 3, CAST(N'2026-06-23T01:47:43.020' AS DateTime), NULL, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[staff_work_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[system_configs] ON 

INSERT [dbo].[system_configs] ([id], [config_key], [config_value], [description], [updated_at], [created_at]) VALUES (1, N'PAYOS_CLIENT_ID', N'a30f5213-fb75-41bb-9050-031494c4141c', N'System Configuration', CAST(N'2026-06-22T23:34:05.843' AS DateTime), CAST(N'2026-06-22T23:34:05.8446251' AS DateTime2))
INSERT [dbo].[system_configs] ([id], [config_key], [config_value], [description], [updated_at], [created_at]) VALUES (2, N'SMTP_EMAIL', N'hoanghht00@gmail.com', N'System Configuration', CAST(N'2026-06-22T23:34:05.843' AS DateTime), CAST(N'2026-06-22T23:34:05.8446251' AS DateTime2))
INSERT [dbo].[system_configs] ([id], [config_key], [config_value], [description], [updated_at], [created_at]) VALUES (3, N'VNPAY_CLIENT_ID', N'LFFJLX23', N'System Configuration', CAST(N'2026-06-22T23:34:05.843' AS DateTime), CAST(N'2026-06-22T23:34:05.8446251' AS DateTime2))
SET IDENTITY_INSERT [dbo].[system_configs] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [password_hash], [full_name], [email], [role], [status], [created_at], [updated_at], [google_id], [is_verified]) VALUES (7, N'$2a$10$vsUL9SVQNVbzHOXqh0MrPePlAN1BMoFm9rJ/th9lT933REpD.8WGW', N'Nguy?n Huy Hoàng', N'nguyenhuyhoangnle@gmail.com', N'CUSTOMER', N'ACTIVE', CAST(N'2026-06-21T11:59:43.100' AS DateTime), CAST(N'2026-06-21T12:42:12.780' AS DateTime), N'118228466014209083191', 1)
INSERT [dbo].[users] ([id], [password_hash], [full_name], [email], [role], [status], [created_at], [updated_at], [google_id], [is_verified]) VALUES (8, N'$2a$10$fbVdasCZz70b1xCAHb/nWu5J2XY47j.4R8EiLkzw3sc129tPUkA4G', N'Yeu Po Tao', N'yeupotao@gmail.com', N'CUSTOMER', N'ACTIVE', CAST(N'2026-06-21T12:15:35.570' AS DateTime), CAST(N'2026-06-21T12:39:02.063' AS DateTime), N'118228466014209083191', 1)
INSERT [dbo].[users] ([id], [password_hash], [full_name], [email], [role], [status], [created_at], [updated_at], [google_id], [is_verified]) VALUES (9, N'$2a$10$AoPi.FwD7r3TVh7YKGlpBes4IrIRAtnTGnru8awScGrxnUDYyw5jK', N'T?p H?c', N'hoctapfu3@gmail.com', N'STAFF', N'ACTIVE', CAST(N'2026-06-21T12:42:45.043' AS DateTime), CAST(N'2026-06-21T15:03:29.760' AS DateTime), N'109274148202442280200', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle_types] ON 

INSERT [dbo].[vehicle_types] ([id], [type_name], [matrix_width], [matrix_height], [category]) VALUES (1, N'Ô tô 4 ch?', 3, 6, N'FOUR_WHEEL')
INSERT [dbo].[vehicle_types] ([id], [type_name], [matrix_width], [matrix_height], [category]) VALUES (2, N'Ô tô 7 ch?', 3, 6, N'FOUR_WHEEL')
INSERT [dbo].[vehicle_types] ([id], [type_name], [matrix_width], [matrix_height], [category]) VALUES (3, N'Xe máy s?', 2, 4, N'TWO_WHEEL')
SET IDENTITY_INSERT [dbo].[vehicle_types] OFF
GO
SET IDENTITY_INSERT [dbo].[zones] ON 

INSERT [dbo].[zones] ([id], [floor_id], [vehicle_type_id], [zone_name], [function_type], [layout_x], [layout_y], [rotation], [overflow_threshold], [status]) VALUES (1, 1, 1, N'Zone A', N'WALK_IN', 150, 200, 0, 80, N'ACTIVE')
INSERT [dbo].[zones] ([id], [floor_id], [vehicle_type_id], [zone_name], [function_type], [layout_x], [layout_y], [rotation], [overflow_threshold], [status]) VALUES (2, 1, 1, N'Zone B', N'WALK_IN', 950, 600, 90, 80, N'ACTIVE')
INSERT [dbo].[zones] ([id], [floor_id], [vehicle_type_id], [zone_name], [function_type], [layout_x], [layout_y], [rotation], [overflow_threshold], [status]) VALUES (3, 1, 1, N'Zone C', N'WALK_IN', 1500, 600, 90, 80, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[zones] OFF
GO
/****** Object:  Index [flyway_schema_history_s_idx]    Script Date: 23/06/2026 11:04:45 SA ******/
CREATE NONCLUSTERED INDEX [flyway_schema_history_s_idx] ON [dbo].[flyway_schema_history]
(
	[success] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payment___99D12D3F055586E6]    Script Date: 23/06/2026 11:04:45 SA ******/
ALTER TABLE [dbo].[payment_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__reservat__E2FB888937926F18]    Script Date: 23/06/2026 11:04:45 SA ******/
ALTER TABLE [dbo].[reservations] ADD UNIQUE NONCLUSTERED 
(
	[qr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__rfid_car__81703D7203ABBF3C]    Script Date: 23/06/2026 11:04:45 SA ******/
ALTER TABLE [dbo].[rfid_cards] ADD UNIQUE NONCLUSTERED 
(
	[card_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__system_c__BDF6033D72C5BF25]    Script Date: 23/06/2026 11:04:45 SA ******/
ALTER TABLE [dbo].[system_configs] ADD UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61647D99F304]    Script Date: 23/06/2026 11:04:45 SA ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vehicle___543C4FD98FFB24F4]    Script Date: 23/06/2026 11:04:45 SA ******/
ALTER TABLE [dbo].[vehicle_types] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vehicles__87EF9F5968B61E2F]    Script Date: 23/06/2026 11:04:45 SA ******/
ALTER TABLE [dbo].[vehicles] ADD UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[building_profiles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[fee_adjustments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[flyway_schema_history] ADD  DEFAULT (getdate()) FOR [installed_on]
GO
ALTER TABLE [dbo].[gates] ADD  DEFAULT ('NORMAL') FOR [live_override_mode]
GO
ALTER TABLE [dbo].[gates] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[incident_tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[monthly_tickets] ADD  DEFAULT ((0)) FOR [auto_renew]
GO
ALTER TABLE [dbo].[monthly_tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ((120)) FOR [global_base_mins]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ((20000)) FOR [global_base_fee]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ((3000000)) FOR [max_parking_cap]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pricing_policies] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ((0)) FOR [paid_amount]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ((0)) FOR [penalty_fee]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ((0)) FOR [refund_amount]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rfid_cards] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[routing_rules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[slots] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[slots] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[system_configs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[vehicle_types] ADD  DEFAULT ('FOUR_WHEEL') FOR [category]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicles] ADD  DEFAULT ((0)) FOR [is_blacklisted]
GO
ALTER TABLE [dbo].[zones] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[fee_adjustments]  WITH CHECK ADD FOREIGN KEY([approved_by_staff_id])
REFERENCES [dbo].[staff_work_sessions] ([id])
GO
ALTER TABLE [dbo].[fee_adjustments]  WITH CHECK ADD FOREIGN KEY([parking_session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[floors]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[building_profiles] ([id])
GO
ALTER TABLE [dbo].[gates]  WITH CHECK ADD FOREIGN KEY([floor_id])
REFERENCES [dbo].[floors] ([id])
GO
ALTER TABLE [dbo].[gates]  WITH CHECK ADD  CONSTRAINT [FK_gates_vehicle_types] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[gates] CHECK CONSTRAINT [FK_gates_vehicle_types]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff_work_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FK26gx0evlarbhj3ruvp3w7kb0k] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FK26gx0evlarbhj3ruvp3w7kb0k]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FK54t2nb3xj2ppmgivct3xkoxv2] FOREIGN KEY([actual_zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FK54t2nb3xj2ppmgivct3xkoxv2]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKei7jjnox8ifbbvirdlyt24s9h] FOREIGN KEY([parking_session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKei7jjnox8ifbbvirdlyt24s9h]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKfos8x5lp1375ts620f0lvs5i] FOREIGN KEY([expected_zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKfos8x5lp1375ts620f0lvs5i]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKt3rriq5ckol1hjkyebqib64ey] FOREIGN KEY([assigned_staff_id])
REFERENCES [dbo].[staff_work_sessions] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKt3rriq5ckol1hjkyebqib64ey]
GO
ALTER TABLE [dbo].[incident_tickets]  WITH CHECK ADD  CONSTRAINT [FKtgpc06yao9n8arem6bty72mvy] FOREIGN KEY([reported_by_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[incident_tickets] CHECK CONSTRAINT [FKtgpc06yao9n8arem6bty72mvy]
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD FOREIGN KEY([rfid_card_id])
REFERENCES [dbo].[rfid_cards] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD  CONSTRAINT [FK_Monthly_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets] CHECK CONSTRAINT [FK_Monthly_Users]
GO
ALTER TABLE [dbo].[monthly_tickets]  WITH CHECK ADD  CONSTRAINT [FK_Monthly_VehicleType] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[monthly_tickets] CHECK CONSTRAINT [FK_Monthly_VehicleType]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([gate_in_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([gate_out_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([rfid_card_id])
REFERENCES [dbo].[rfid_cards] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FK165btgndrjw93a99dsl5cf8ud] FOREIGN KEY([entry_gate_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FK165btgndrjw93a99dsl5cf8ud]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FK6a822rrpeq4sxd8dxq4q1tlp7] FOREIGN KEY([exit_gate_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FK6a822rrpeq4sxd8dxq4q1tlp7]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FKjpktyrfd2m3103vgike7xjao1] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FKjpktyrfd2m3103vgike7xjao1]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FKn8jg2g4xk41x59di5a5ggvavv] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FKn8jg2g4xk41x59di5a5ggvavv]
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [FKslggpksrx8ndhjxbxxvl1g5vp] FOREIGN KEY([slot_id])
REFERENCES [dbo].[slots] ([id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [FKslggpksrx8ndhjxbxxvl1g5vp]
GO
ALTER TABLE [dbo].[payment_orders]  WITH CHECK ADD FOREIGN KEY([monthly_ticket_id])
REFERENCES [dbo].[monthly_tickets] ([id])
GO
ALTER TABLE [dbo].[payment_orders]  WITH CHECK ADD FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([id])
GO
ALTER TABLE [dbo].[pricing_blocks]  WITH CHECK ADD FOREIGN KEY([shift_id])
REFERENCES [dbo].[pricing_shifts] ([id])
GO
ALTER TABLE [dbo].[pricing_policies]  WITH CHECK ADD  CONSTRAINT [FK_pricing_policies_vehicle_type] FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[pricing_policies] CHECK CONSTRAINT [FK_pricing_policies_vehicle_type]
GO
ALTER TABLE [dbo].[pricing_shifts]  WITH CHECK ADD FOREIGN KEY([policy_id])
REFERENCES [dbo].[pricing_policies] ([id])
GO
ALTER TABLE [dbo].[refund_requests]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refund_requests] CHECK CONSTRAINT [FK_Refunds_Users]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([refunded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[slots] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FKn807do9c7ef7k475l0n8p7ull] FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FKn807do9c7ef7k475l0n8p7ull]
GO
ALTER TABLE [dbo].[routing_rules]  WITH CHECK ADD FOREIGN KEY([suggested_zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[routing_rules]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[slots]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[staff_work_sessions]  WITH CHECK ADD FOREIGN KEY([gate_id])
REFERENCES [dbo].[gates] ([id])
GO
ALTER TABLE [dbo].[staff_work_sessions]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([monthly_ticket_id])
REFERENCES [dbo].[monthly_tickets] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([parking_session_id])
REFERENCES [dbo].[parking_sessions] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([payment_order_id])
REFERENCES [dbo].[payment_orders] ([id])
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD  CONSTRAINT [FKgqjc8pmwiyjslyyf2dnkpdgcs] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vehicles] CHECK CONSTRAINT [FKgqjc8pmwiyjslyyf2dnkpdgcs]
GO
ALTER TABLE [dbo].[zone_hourly_trends]  WITH CHECK ADD FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([id])
GO
ALTER TABLE [dbo].[zones]  WITH CHECK ADD FOREIGN KEY([floor_id])
REFERENCES [dbo].[floors] ([id])
GO
ALTER TABLE [dbo].[zones]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_types] ([id])
GO
USE [master]
GO
